# Kconfig para o seu layout personalizado ZMK
source "Kconfig.zephyr"

config ZMK_DISPLAY_STATUS
    bool "Habilitar Status do Display ZMK"
    default y
    depends on ZMK_DISPLAY

config ZMK_ACTIVITY
    bool "Habilitar Monitoramento de Atividade ZMK"
    default y

choice
    prompt "Nível de Log ZMK"
    config ZMK_LOG_LEVEL_DBG
        bool "Depuração"
    endchoice

config ZMK_DISPLAY_LOG_LEVEL_DBG
    bool "Nível de Log de Depuração do Display"
    default y
    depends on ZMK_DISPLAY
    depends on ZMK_LOG_LEVEL_DBG

config ZMK_ACTIVITY_LOG_LEVEL_DBG
    bool "Nível de Log de Depuração da Atividade"
    default y
    depends on ZMK_ACTIVITY
    depends on ZMK_LOG_LEVEL_DBG

# config DISPLAY_BUFFER_SIZE
#     int "Tamanho do Buffer do Display em Bytes"
#     default 512
#     depends on ZMK_DISPLAY
