manifest:
  defaults:
    revision: main   # use o branch mais recente do fork, não o v0.2 (que é antigo)
  remotes:
    - name: urob
      url-base: https://github.com/urob
  projects:
    - name: zmk
      remote: urob
      revision: main
      import: app/west.yml
  self:
    path: config
