&display {
    compatible = "solomon,ssd1306fb";
    i2c-address = <0x3C>;
    label = "OLED_DISPLAY";
    height = <32>;
    width = <128>;
    segment-offset = <0>;
    page-offset = <0>;
    display-offset = <0>;
    multiplex-ratio = <31>;
};

&uart1 {
    status = "okay";
    current-speed = <115200>;
    rx-pin = <20>;
    tx-pin = <22>;
};

/ {
    chosen {
        zmk,studio-rpc-uart = &uart1;
    };
};
